<!DOCTYPE html>
<html>
  <head>
  <script src="{{ asset('bundles/skreenhousefactoryv3/initializr/js/libs/jquery-1.7.2.min.js') }}"></script>
  <script src="{{ asset('bundles/skreenhousefactorygtv/js/vendors/jquery.keynav.js') }}"></script>
  </head>
  <body>
  key:  <input id="k-console"/>
  <script>
    $.fn.keynav('onClass','offClass');
    
    //
    Webview = {
      onMessage: function() {
      
      }
    };
  </script>
  </body>
</html>