<!DOCTYPE html>
<html>
  <head>
  <script src="{{ asset('bundles/skreenhousefactoryv3/initializr/js/libs/jquery-1.7.2.min.js') }}"></script>
  </head>
  <body>
    please
    <script type='text/javascript'>
      //keynav
      $(document).keydown(function(e) {
        var key = e.keyCode;
        console.warn(['keydown', 'key', key]);
      });
    </script>
  </body>
</html>